# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/

# Data artifacts
*.log
*.tmp
local_cache.db
*.parquet

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Secrets
.env
*.env
raspi.json
